html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #fff;
    overflow-y: hidden;
}

.bounce {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: normal bold 6rem "Product Sans", sans-serif;
    white-space: nowrap;
}

.letter {

    display: inline-block;
    margin-top: 0.5em;
    text-shadow: rgba(0, 0, 0, 0.4) 0 0 0.05em;
    font: normal bold 6rem "Product Sans", sans-serif;
}
.letter:nth-child(1) {
    color: #4285f4;
}
.letter:nth-child(2) {
    color: #ea4335;
}
.letter:nth-child(3) {
    color: #fbbc05;
}
.letter:nth-child(4) {
    color: #4285f4;
}
.letter:nth-child(5) {
    color: #34a853;
}
.letter:nth-child(6) {
    color: #ea4335;
}
